html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100%;
    background-image: url(Pokedexjpg.jpg);
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

.mainContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.container {
    text-align: center;
}

h1 {
    text-align: center;
    margin: 0;
    margin-bottom: 20px;
    font-size: 5em;
}

form {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

#search input {
    padding: 10px 15px;
    font-size: 1.2em;
    width: 250px;
    border-radius: 5px;
    border: 1px solid #ccccccef
}

#search button {
    padding: 10px 20px;
    margin-left: 5px;
    font-size: 1.2em;
    border-radius: 5px;
    border: none;
    background-color: rgb(218, 36, 36);
    cursor: pointer;
}

#search button:hover {
    background-color: rgb(167, 27, 27);
}

#display {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

h2,
p {
    margin: 5px 0;
}

.name {
    font-size: 2em;
    text-transform: capitalize;
}

.types {
    text-transform: capitalize;
    font-size: 1.5em;
}

.image {
    width: 25%;
    height: auto;
}

.description {
    text-align: center;
    font-size: 2.5em;
    font-weight: 600;
}

#pokeinfo {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

#pokeinfo img {
    width: 150px;
    height: auto;
}